@model DocSite.Models.ChangePasswordViewModel
@{
    ViewBag.Title = DocSite.Resources.Manage.ChangePassword;
}
<body class="documents-body">
    @Html.ActionLink(@DocSite.Resources.Resources.Home, "Index", "Products", null, new { @class = "menu-buttons", style = "float:left margin:10px;" })
    <h2>@ViewBag.Title</h2>


    <form action="/Manage/ChangePassword" method="post" id="registerform" role="form">
        @Html.AntiForgeryToken()
        <hr />
        <div class="form-group">
            <label class="col-md-2 control-label" style="text-align: right; padding-top: 5px;" for="username">@DocSite.Resources.Manage.Username</label>
            <div class="col-md-10">
                <h4 id="username">@User.Identity.Name</h4>
            </div>
        </div>
            <div class="form-group">
                <label class="col-md-2 control-label" style="text-align: right; padding-top: 5px;" for="OldPassword">@DocSite.Resources.Manage.OldPassword</label>
                <div class="col-md-10" style="margin-bottom: 1em;">
                    <input type="password" id="Organisation" minlength="5" name="OldPassword" class="form-control" required />
                </div>
            </div>

        <div class="form-group">
            <label class="col-md-2 control-label" style="text-align: right; padding-top: 5px;" for="ConfirmPassword">@DocSite.Resources.Manage.NewPassword</label>
            <div class="col-md-10" style="margin-bottom: 1em;">
                <input type="password" id="NewPassword" name="NewPassword" minlength="6" class="form-control" required />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" style="text-align: right; padding-top: 5px;" for="ConfirmPassword">@DocSite.Resources.Manage.ConfirmPassword</label>
            <div class="col-md-10" style="margin-bottom: 1em;">
                <input type="password" id="ConfirmPassword" equalTo="#NewPassword" name="ConfirmPassword" minlength="6" class="form-control" required />
            </div>
        </div>
        <div style="margin-bottom:9em;" class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@DocSite.Resources.Manage.ChangePassword" class="btn btn-default" />
            </div>
        </div>
    </form>

</body>
<script src="~/Scripts/jquery.validate.js"></script>
@if (Request.Cookies["Language"].Value == "fi")
{
    <script type="text/javascript" src="~/Localization/messages_fi.js"></script>
}
<script>
    $("#registerform").validate();
</script>